.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 19rem;
  height: 80vh;
  background-color: #23252c;
}

.father--app {
  display: flex;
  justify-content: center;
  align-items: center;
}
