.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 19.8rem;
  height: 48.75rem;
  background-color: #23252c;
  border-radius: 10px;
}

.father--app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54.25rem;
  background-color: #23252C;
  width: 550px;
  margin: auto;
  
}

#root{

  background-color: #1C1C1C;
  display: flex;
  
}