body {
  margin: 0;
}

.info--card {
  display: flex;
  flex-direction: column;
}

.info--card-btn {
  display: flex;
}

.info--card-btn-linkedin {
  background-color: blue;
}

.info--card-img {
  width: 15rem;
  height: 14rem;
  overflow: hidden;
}
.info--card-profileph {
  width: 100%;
}
